.bg-custom {
  background-color: #fafafa;
  box-shadow: 5px 5px 20px -4px rgba(0, 0, 0, 0.54);
}

h1,
h3,
h5,
h4,
h2 {
  text-transform: uppercase;
  color: #d6930e;
}

video {
  width: 100%;
  height: 25rem;
}

.card {
  background: #b3eeee;

  box-shadow: 5px 5px 20px -4px rgba(0, 0, 0, 0.54);
}

.test {
  background: #b3eeee;
}

.cardMargin {
  margin-bottom: 25rem;
  margin-top: 5rem;
}

.header {
  background: #00c9ff;
}
.bi {
  color: #0af002;
}

.price {
  color: white;
  font-size: 150px;
  font-weight: 800;
  padding-top: -80% !important;
}

.btn-info {
  background-color: rgb(26, 184, 60) !important;
  width: 33%;
}

.video {
  max-width: 100%;
}
