.card {
  background-color: rgb(208, 209, 203) !important;
  box-shadow: 5px 5px 20px -4px rgba(0, 0, 0, 0.54);
}

.test {
  background-color: rgb(208, 209, 203) !important;
}

.cardMargin {
  margin-bottom: 25rem;
  margin-top: 5rem;
}

.header {
  background: #00c9ff;
}
.bi {
  color: #0af002;
}

.price {
  color: white;
  font-size: 150px;
  font-weight: 800;
  padding-top: -80% !important;
}

.btn-info {
  background-color: rgb(26, 184, 60) !important;
  width: 33%;
}
