.card-text {
  background: linear-gradient(
    180deg,
    rgba(219, 153, 11, 0.048) 19%,
    rgba(185, 188, 189, 0.7373737373737373) 98%
  );
  border-radius: 10px;
  text-align: center;
}

.quote_container {
  background-color: rgb(208, 209, 203) !important;
  width: auto;
  height: auto;
  text-align: center;
  align-items: center;
}

.quote_container h2 {
  padding: 30px 0px;
  font-weight: 700;
}
.quote_container h4 {
  padding: 20px 0px;
}

.quote_container span {
  font-size: 2rem;
}

.quote_p {
  font-size: 1.1rem;
}

.img-style {
  border-radius: 2%;
}
